.h-entry {
    position: relative;

    header {
        padding:30px 20px;
        background-color: #025da5;
        color:#FFF;

        h1 {
            font-size: 30px;
            font-weight: 700;
        }

        a {
            color: #FFF;
            font-weight: 700;
        }
    }

    section {

        .p-summary {
            font-weight: 600;
        }
        
        .p-summary, .e-content {
            background-color: #FFF;
            border-top:1px solid #CCC;
            padding:30px 20px;
        }
    }
}